extends layout.pug

block navbar
  include componentes/navbar_itinerario.html

block content
    .container-fluid.px-1.mt-5
    h1.text-center.mb-4 Mis itinerarios

   
    .row
      include componentes/itinerario_2.pug
      include componentes/itinerario_2.pug
      include componentes/itinerario_2.pug
      include componentes/itinerario_2.pug
      include componentes/itinerario_2.pug
      include componentes/itinerario_2.pug
      include componentes/itinerario_2.pug
      include componentes/itinerario_2.pug
      include componentes/itinerario_2.pug
      include componentes/itinerario_2.pug
      include componentes/itinerario_2.pug
      include componentes/itinerario_2.pug
block footer
  include componentes/footer_valoracion.html 
