nav .row {
  display: flex;
  align-items: center;
}

nav {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding: 8px 5%;
  
}

nav a {
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 600;
}

nav a:hover {
  color: #e74c3c; /* rojo tipo caramelo */
}
nav.container {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 10px 5%;
}

footer {
  background-color: #f2f2f2;
  border-top: 1px solid #ddd;
  padding: 15px 0;
  font-size: 1.5rem;
  color: #555;
}

footer p {
  margin: 0;
}

footer ul li {
  color: rgb(0, 0, 0)
}

.mt-3 {
  margin-top: 3rem;
}


