.container.marketing
  .row
    .col-lg-3
      svg.bd-placeholder-img(aria-label='Placeholder' height='140' preserveaspectratio='xMidYMid slice' role='img' width='140' xmlns='http://www.w3.org/2000/svg')
        title Placeholder
        rect(width='100%' height='100%' fill='var(--bs-secondary-color)')
      h2.fw-normal Heading
      p Some representative placeholder content for the three columns of text below the carousel. This is the first column.
      p
        a.btn.btn-secondary(href='#') View details »
    .col-lg-3
      svg.bd-placeholder-img(aria-label='Placeholder' height='140' preserveaspectratio='xMidYMid slice' role='img' width='140' xmlns='http://www.w3.org/2000/svg')
        title Placeholder
        rect(width='100%' height='100%' fill='var(--bs-secondary-color)')
      h2.fw-normal Heading
      p Another exciting bit of representative placeholder content. This time, we've moved on to the second column.
      p
        a.btn.btn-secondary(href='#') View details »
    .col-lg-3
      svg.bd-placeholder-img(aria-label='Placeholder' height='140' preserveaspectratio='xMidYMid slice' role='img' width='140' xmlns='http://www.w3.org/2000/svg')
        title Placeholder
        rect(width='100%' height='100%' fill='var(--bs-secondary-color)')
      h2.fw-normal Heading
      p And lastly this, the third column of representative placeholder content.
      p
        a.btn.btn-secondary(href='#') View details »
    .col-lg-3
      svg.bd-placeholder-img(aria-label='Placeholder' height='140' preserveaspectratio='xMidYMid slice' role='img' width='140' xmlns='http://www.w3.org/2000/svg')
        title Placeholder
        rect(width='100%' height='100%' fill='var(--bs-secondary-color)')
      h2.fw-normal Heading
      p And lastly this, the third column of representative placeholder content.
      p
        a.btn.btn-secondary(href='#') View details » 

