extends layout.pug

block content

    h2.mt-3(style='text-align:center; font-size:2em; ')  NUESTROS AMIGOS 



    .row
        .one-third.column
            img(src='../images/cliente1.png' alt='Cliente 1' style='width:100%; border-radius:8px;')
            p(style='text-align:center; font-size:0.9em; margin-top:0.5rem;') “Siempre encuentro mis chuches favoritas aquí.”
        .one-third.column
            img(src='../images/cliente1.png' alt='Cliente 2' style='width:100%; border-radius:8px;')
            p(style='text-align:center; font-size:0.9em; margin-top:0.5rem;') “Siempre encuentro mis chuches favoritas aquí.”

        .one-third.column
            img(src='../images/cliente1.png' alt='Cliente 3' style='width:100%; border-radius:8px;')
            p(style='text-align:center; font-size:0.9em; margin-top:0.5rem;') “Siempre encuentro mis chuches favoritas aquí.”


    .row
        .one-third.column
            img(src='../images/cliente1.png' alt='Cliente 4' style='width:100%; border-radius:8px;')
            p(style='text-align:center; font-size:0.9em; margin-top:0.5rem;') “Siempre encuentro mis chuches favoritas aquí.”
        .one-third.column
            img(src='../images/cliente1.png' alt='Cliente 5' style='width:100%; border-radius:8px;')
            p(style='text-align:center; font-size:0.9em; margin-top:0.5rem;') “Siempre encuentro mis chuches favoritas aquí.”
        .one-third.column
            img(src='../images/cliente1.png' alt='Cliente 6' style='width:100%; border-radius:8px;')
            p(style='text-align:center; font-size:0.9em; margin-top:0.5rem;') “Siempre encuentro mis chuches favoritas aquí.”

    .row
        p(style='text-align:center; font-size:2em; margin-top:0.5rem;') Valoraciones de nuestros clientes.


