footer
    .container
        .row
            .six.columns
                p 2025 El Badulaque
            .six.columns.u-pull-right
                ul(style="list-style:none; margin:0; text-align:right;")
                    li(style="display:inline-block; margin-left:15px;")
                        span Valdepeñas
                    li(style="display:inline-block; margin-left:15px;")
                        span  666 666 666
