extends layout_alternativo.pug

block content
    .container
        .row
            .twelve.columns.center
                h1 ¡Las chuches más dulces!
                p.mt-2 Bienvenido a El Badulaque, tu tienda de golosinas de confianza.

        .row
            .six.columns
                img(src="../images/golosinas.png" alt="Banner El Badulaque" style="width:100%;border-radius:10px;")
            .six.columns
                h3.mt-2 Descubre nuestros sabores
                p.mt-1 Encuentra las chuches más frescas, los mejores precios y un servicio cercano.
                a.button.button-primary.mt-2(href="#") Compra chuches

        .row
            .twelve.columns.center
                h5.mt-3 Nos puedes encontrar en:
                p Calle xxxxx nºxx, Valdepeñas (Ciudad Real)
                p Teléfono: 9xx 1xx 4xx