<!DOCTYPE html>
<html lang="en">
<head>
  include cabecera
</head>
<body>
  .container
    .row
      .twelve.columns 
        header
          h1 El badulaque
    .row
      .two.columns 
        ul.nav_vertical
          li: a(href="home_alternativo.html") Home 
          li: a(href="amigos_alternativo.html") Amigos
          li: a(href="peticiones_alternativo.html") Peticiones
          li: a(href="encargos_alternativo.html") Encargos

      .ten.columns 
        block content
    .row
      .twelve.columns 
        include footer
</body>
</html>


