nav.container
    .row
    
        .four.columns
            h1 El Badulaque
        .eight.colums 
            ul.u-pull-right 
                li(style="display:inline-block; margin-left:15px;")
                    a(href="../dist/layout.html") Home
                li(style="display:inline-block; margin-left:15px;")
                    a(href="amigos.html") Amigos
                li(style="display:inline-block; margin-left:15px;")
                    a(href="peticiones.html") Peticiones
                li(style="display:inline-block; margin-left:15px;")
                    a(href="encargos.html") Encargos
