.col-4
    .contenedor-img 
        .img_box 
            img(src="tu-imagen.jpg", alt="producto")
        .estrellas
            div
                i.bi.bi-star-fill
            div
                i.bi.bi-star-fill
            div
                i.bi.bi-star-fill
            div
                i.bi.bi-star
            div
                i.bi.bi-star
    .texto
     div nombre producto 
     div descripcion 
