

  aside
    h2 Opciones del registro
    form
      label Persona:
      input(type="text" value="Ejemplo")
      label MAC:
      input(type="text" value="74:56:3C:59:E1:0A")
      label Comentario:
      input(type="text" value="PC_1DAW1")
      .acciones
        button(type="button") Editar
        button(type="button") Confirmar
        button(type="button" class="peligro") Eliminar