hr.featurette-divider
.row.featurette
  .col-md-7
    h2.featurette-heading.fw-normal.lh-1
      | First featurette heading.
      span.text-body-secondary It&rsquo;ll blow your mind.
    p.lead
      | Some great placeholder content for the first featurette here.
      | Imagine some exciting prose here.
  .col-md-5
    svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(aria-label='Placeholder: 500x500' height='500' preserveaspectratio='xMidYMid slice' role='img' width='500' xmlns='http://www.w3.org/2000/svg')
      title Placeholder
      rect(width='100%' height='100%' fill='var(--bs-secondary-bg)')
      text(x='50%' y='50%' fill='var(--bs-secondary-color)' dy='.3em')
        | 500x500
hr.featurette-divider
.row.featurette
  .col-md-7.order-md-2
    h2.featurette-heading.fw-normal.lh-1
      | Oh yeah, it&rsquo;s that good.
      span.text-body-secondary See for yourself.
    p.lead
      | Another featurette? Of course. More placeholder content here to
      | give you an idea of how this layout would work with some actual
      | real-world content in place.
  .col-md-5.order-md-1
    svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(aria-label='Placeholder: 500x500' height='500' preserveaspectratio='xMidYMid slice' role='img' width='500' xmlns='http://www.w3.org/2000/svg')
      title Placeholder
      rect(width='100%' height='100%' fill='var(--bs-secondary-bg)')
      text(x='50%' y='50%' fill='var(--bs-secondary-color)' dy='.3em')
        | 500x500
hr.featurette-divider
.row.featurette
  .col-md-7
    h2.featurette-heading.fw-normal.lh-1
      | And lastly, this one.
      span.text-body-secondary Checkmate.
    p.lead
      | And yes, this is the last block of representative placeholder
      | content. Again, not really intended to be actually read, simply
      | here to give you a better view of what this would look like with
      | some actual content. Your content.
  .col-md-5
    svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(aria-label='Placeholder: 500x500' height='500' preserveaspectratio='xMidYMid slice' role='img' width='500' xmlns='http://www.w3.org/2000/svg')
      title Placeholder
      rect(width='100%' height='100%' fill='var(--bs-secondary-bg)')
      text(x='50%' y='50%' fill='var(--bs-secondary-color)' dy='.3em')
        | 500x500
hr.featurette-divider
// /END THE FEATURETTES
