

aside
  h2.title Opciones del registro
  form
    label.sidebar__label Persona:
    input.sidebar__input(type="text" value="Ejemplo")
    label.sidebar__label MAC:
    input.sidebar__input(type="text" value="74:56:3C:59:E1:0A")
    label.sidebar__label Comentario:
    input.sidebar__input(type="text" value="PC_1DAW1")
    div.sidebar__actions
      button.sidebar__button(type="button") Editar
      button.sidebar__button(type="button") Confirmar
      button.sidebar__button.sidebar__button--danger(type="button" class="peligro") Eliminar