/* MENU HORIZONTAL */
ul.nav_horizontal {
  list-style: none;
  padding: 0;
}

ul.nav_horizontal li {
  display: inline-block;
  margin-right: 20px;
}

/* MENU VERTICAL */
ul.nav_vertical {
  list-style: none;
  padding: 0;
}

ul.nav_vertical li {
  margin-bottom: 10px;
}