doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Gestor de MACs
    link(rel="stylesheet" href="practica1.css")

  body
    header
      h1 Gestor de MACs

    main
      //- Formulario añadir dispositivo
      section.form-section
        h2 Añadir dispositivo
        form
          label(for="grupo")
            | Clase/Grupo:
            select#grupo(name="grupo")
              option(value="1DAW1") DAW1
              option(value="1DAW2") DAW2
              option(value="1DAW3") DAW3
              option(value="1DAW4") DAW4
              option(value="PROFES") Profesores

          label(for="persona")
            | Persona:
            input#persona(type="text" name="persona")

          label(for="mac")
            | Dirección MAC:
            input#mac(type="text" name="mac" placeholder="AA:BB:CC:DD:EE:FF")

          label(for="comentario") Comentario:
          input#comentario(type="text" name="comentario")

          div
            input(type="submit" value="Añadir")

      //- Opciones del registro
      aside
        h2 Opciones del registro
        form
          label Persona:
          input(type="text" value="Ejemplo")

          label MAC:
          input(type="text" value="74:56:3C:59:E1:0A")

          label Comentario:
          input(type="text" value="PC_1DAW1")

          .acciones
            button(type="button") Editar
            button(type="button") Confirmar
            button(type="button" class="peligro") Eliminar

      //- Listado de dispositivos
      section
        div
          h2 Listado de dispositivos
          table
            thead
              tr
                th Clase
                th Persona
                th MAC
                th Comentario
                th Seleccionar
            tbody
              tr
                td 1DAW1
                td Ejemplo
                td 74:56:3C:59:E1:0A
                td PC_1DAW1
                td
                  button ➡

    footer
      p Gestor de MACs - Practica01 - Mikel Arroyo Gomez
